#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.spinner{
  border-radius: 50%;
  border: 20px solid black;
  margin:20px;
  height: 50px;
  width: 50px;
  border-bottom-color: red;
  animation: mymove 20s linear infinite;
  box-sizing: border-box;
}

@keyframes mymove {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(3600deg);
  }
}
